<div class="content-container" name="new-content" style="display: none;">
    <form action="/new/<%= id %>" method="post">
        <div class="card-container">
            <div class="card-header">
                <h3>Elija la ruta:</h3>
            </div>
            <div class="card-body">
                <div class="form-group mb-2">
                    <label><b>Nombre</b></label>
                    <select name="ruta" class="form-control">
                        <option>MORELIA</option>
                        <option>BAJIO 1</option>
                        <option>BAJIO 2</option>
                        <option>CIUDAD</option>
                        <option>ZACATECAS 1</option>
                        <option>ZACATECAS 2</option>
                        <option>SAN LUIS POTOSI</option>
                        <option>COLIMA</option>
                        <option>CD GUZMAN</option>
                        <option>SAHUAYO</option>
                        <option>AUTLAN</option>
                        <option>AMECA</option>
                        <option>MAZATLAN</option>
                        <option>OCOTLAN</option>
                        <option>LOS ALTOS</option>
                        <option>TIZAPAN</option>
                        <option>CHAPALA</option>
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success mt-3">Guardar</button>
            </div>
        </div>
    </form>
</div>