<div class="table-wrapper content-container" name="order-table" style="display: none;">
    <h3 class="main-title">Tabla de datos</h3>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
					<th>RAZON SOCIAL</th>
					<th>POBLACION</th>
					<th>FOLIO</th>
					<th>EDITAR</th>
					<th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody id="orders-body">
            </tbody>
        </table>
    </div>
</div>